.LandContainer {
  height: 76vh;
  background-image: url("C:\Users\VIAMATICA\Documents\1pruebaPractica12112022\streaming-frontend\src\static\img\streaming.jpg");
}

.StylesRow {
  height: 100%;
}

.StylesRow h1 {
  margin-top: 170px;
}

.StylesRow h1 b{
  color: aliceblue;
  text-shadow: 3px 3px midnightblue;
}